<body>
  <h1>Sign In</h1>
  <div>
      <input type="text" id="user_name" placeholder="Name" [(ngModel)]=signUpModel.name>
      <input type="email" id="user_email" placeholder="Email Address" [(ngModel)]=signUpModel.email>
      <input type="password" id="user_password" placeholder="Password" [(ngModel)]=signUpModel.password>
      <button (click)="onSignUpClicked()" type="button" name="sign_up">Sign Up</button>
      <a routerLink="/sign-in">Already registered? sign in now!</a>
  </div>
</body>
